
/* .............Home Banner styling.......... */



.carousel-item img {
    min-height: 50vh;
    max-height: 70vh;
    width: auto;
}
h5{
    color: crimson;
    font-size: 200%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* border: 3px solid #0a0a0a; */
    padding: 10px;
    display: inline-block;
}
.bannertext{
    height: 63px;
    width: fit-content;
    /* text-align: center;
    align-items: center; */
    justify-content: center;
    padding-top: 3px;
    /* background-color: rgba(227, 232, 128, 0.842); */

}


/* ................Home Mens Product List styling.................... */



.HomePageMensList{
    margin: 3%;
    height: 42vh;
    /* background-color: red; */
    max-height: 20%;
}

.Homeproductcontainer_img{
    max-height: 80%;
    padding: 1%;
}
.name-price{
    margin-left: 1%;
    width: fit-content;
    max-height: 19%;
    
}